<html>
    <head>
        <link rel="stylesheet" href="/assets/css/style.css">
    <body>
        <h1>I AM THE SUPER</h1>
        {{$content}}
            SUPER Content
        {{/content}}
    </body>
</html>
